.filter-component {
  border-radius: 54px;
  background: #fff;
  padding: 45px;
  //   width: 320px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h2 {
    font-weight: 700;
    font-size: 18px;
  }

  .MuiIconButton-root {
    padding: 4px;
  }
}

.section-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.filter-section {
  margin-bottom: 24px;
}

.radio-option {
  &.selected {
    .MuiRadio-root {
      color: #ff4081;
    }

    .MuiFormControlLabel-label {
      font-weight: 700;
      color: #ff4081;
    }
  }
}

.filter-footer {
  display: flex;
  justify-content: space-between;

  .clear-button {
    color: #777;
    text-transform: capitalize;
  }

  .apply-button {
    background-color: #ff4081;
    color: #fff;
    border-radius: 24px;
    text-transform: capitalize;
    padding: 8px 16px;
    font-weight: 600;
  }
}

.MuiSlider-root {
  color: #ff4081;

  .MuiSlider-thumb {
    height: 20px;
    width: 20px;
    background-color: #ff4081;
    border: 2px solid #fff;
  }

  .MuiSlider-track {
    height: 4px;
  }

  .MuiSlider-rail {
    height: 4px;
    color: #ddd;
  }
}
