.react-datepicker__input-container {
  border: none; /* Remove border */
  box-shadow: none; /* Remove shadow */
}

.react-datepicker__input-container input {
  
  border: none; /* Remove border */
  outline: none; /* Remove outline on focus */
  background: transparent; /* Make background transparent */
  padding: 0; /* Remove padding */
  font-size: inherit; /* Inherit font size from parent */
  color: #000; /* Set text color */
}

.react-datepicker__input-container input::placeholder {
  color: #aaa; /* Placeholder color */
}

/* Optional: Customize focus style */
.react-datepicker__input-container input:focus {
  border: none; /* Ensure no border on focus */
  outline: none; /* Ensure no outline on focus */
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #a29e9e !important;
}
