@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
.searchContainer {
  border: 2px solid #d9d9d9;

  background: #fff;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 9px 5px 4px 30px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 51px;
}

.inputGroup,
.inputGroupCalender {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.inputGroupCalenderMob {
  display: none;
}
.inputGroup label,
.inputGroupCalender label {
  font-size: 12px;
  color: #656565;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}

.inputGroup input,
.inputGroupCalender input {
  border: none;

  font-size: 14px;
}

.searchButton {
  border: none;
  color: white;
  padding: 8px 7px 8px 18px;
  border-radius: 37px;
  background: #ffc107;
  font-size: 16px;
  cursor: pointer;
  width: 57px;
  height: 38px;
  margin-top: -6px;
  margin-right: 4px;
}

.searchIcon {
  margin-bottom: -3px;
  margin-right: 10px;
}
.inputGroup::placeholder {
  color: #b0b0b0; /* Placeholder text color */
}
.inputGroupCalender::placeholder {
  color: #b0b0b0;
}
.inputGroup,
.inputGroupCalender {
  background: transparent;
  outline: none;
  appearance: none;
  &::placeholder {
    color: #9b9898;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}
.inputSeparator {
  width: 1px;
  background-color: #d9d9d9;
  height: 27px;

  margin: 0 15px;
}
.activeDay {
  color: #4d4545 !important; // Dark teal text color for active days
}

@media (max-width: 992px) {
  .searchBar {
    flex-direction: column;
    gap: 28px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    align-items: flex-start;
    padding-left: 33px;
    padding-right: 16px;
    padding-top: 26px;
    padding-bottom: 17px;
    border-radius: 10px;
  }
  .searchButton {
    align-self: flex-end;
    margin-right: 0px;
    margin-top: 0px;
    height: 28px;
    padding: 0;
    margin-bottom: 6px;
  }
  .inputSeparator {
    display: none;
  }
  .inputGroup {
    background: none;
    border: none;
  }
  .inputGroup::placeholder {
    color: #b0b0b0;
  }
  .inputGroup label,
  .inputGroupCalender label {
    font-size: 16px;
  }
  .inputGroup,
  .inputGroupCalender {
    &::placeholder {
      font-size: 16px;
    }
  }
  .inputGroupCalender {
    display: none;
  }
  .inputGroupCalenderMob {
    display: contents;
  }
  .searchIcon {
    margin-bottom: -2px;
    margin-right: 1px;
    transform: scale(0.7);
  }
}
.filterIcon {
  width: 94px;
  height: 40px;
}
.searchMainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  max-width: 800px;
  margin: 0 auto;
}
.filterIconInMobile {
  transform: scale(0.7);
}
