.navBar {
  display: flex;
  gap: 16.8%;
  padding: 33px 38.3% 50px 17%;
}
.mobileNavBar {
  display: flex;
  flex-direction: column;
}

.logoImage {
  width: 100px; // Adjust logo size as needed
}

.navigation {
  display: flex; // Use flexbox for navigation items
  gap: 59px;
}

.navLink {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}
.activeNavLink {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navItem {
  display: flex;
  flex-direction: column;
}
.activeUnderline {
  margin-top: -4px;
}
@media (max-width: 992px) {
  .navBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .navLink {
    font-size: 14px;
  }
  .navigation {
    gap: 30px;
  }
}
.mobileLogo {
  margin-bottom: 10px;
}
